# Node.js Server Environment Variables (Render / AWS / Railway)
PORT=3000
NODE_ENV=production
MONGODB_URI=mongodb+srv://username:password@cluster0.example.mongodb.net/attendance_system
JWT_SECRET=your_random_secure_jwt_secret_key_here
REDIS_URL=redis://default:password@redis-12345.upstash.io:6379

# Frontend Vercel Environment Variables (Optionally point to backend API)
VITE_API_BASE_URL=https://attendx-api.onrender.com
